@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
#Menu {
    padding-top: 0px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    margin-top: 0;
  }
  #Menu ul{
    float: left;
    text-align: center;
    width: 100%;
    margin: 0;
    list-style: none;
    background-color: rgba(141, 240, 177, 1);
  }
  #Menu ul li{
    display: inline;
  }
  #Menu ul li a {
    padding: 7px 10px;
    display: inline-block;
    
    color: rgba(1, 77, 29, 0.94);
    font-weight: bold;
    text-decoration: none;
  }
body{
    background-color:rgba(29, 216, 101, 0.76);
    color: black;
}
div {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  font-size: 17px;
  padding: 2%;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 1px 2px 5px black;
  background-color: rgba(247, 241, 231, 0.7);
}
div#link {
  font-weight: bold;
  color: red;
}